
/* font */

@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

.nexon {
    font-family:  'NexonLv1Gothic';
    font-weight: 400;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}



#nav {
    width: 100%;
    height: 50px;
    background-color:aqua;
}

#asideType {
    width: 30%;
    height: 780px;
    background-color: blue;
}

#sectionType {
    width: 70%;
    height: 780px;
    background-color: blueviolet;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: darkblue;
}

/* 미디어쿼리 */

@media (max-width: 1300px) {
    #wrap {
        width: 96%;
    }
}

@media (max-width: 768px) {
    #wrap {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #aside {
        width: 100%;
        height: 300px;
    }

    #section {
        width: 100%;
        height: 480px;
    }
}

.header_wrap {
    width: 100%;
    height: 180px;
}

.header_inner {
    width: 100%;
    
}

.header_top {
    width: 100%;
    height: 2.5rem;
    background-image: url(../images/top.png);
    
}

.header_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.75rem;
    margin-right: 12rem;
}

.header_content {
    height: 2.5rem;
    line-height: 2.5rem;
}

.header_content ul li {
    display: inline-block;
    padding: 0 20px 0 0;
}

.header_content ul li img {
    
}

.header_member ul li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.header_member ul li a {
    display: inline-block;
    padding: 3px 20px 3px 20px 
    
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gnb ul li {
    display: inline-block;
    margin-right: 20px;
}
