
/* font */

@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

.nexon {
    font-family:  'NexonLv1Gothic';
    font-weight: 400;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}



#nav {
    width: 100%;
    height: 50px;
}

#sliderType {
    width: 100%;
}

#articleType {
    width: 100%;
    height: 120px;
}

#contentType {
    width: 100%;
    height: 300px;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: darkblue;
}

/* 미디어쿼리 */

@media (max-width: 1300px) {
    #wrap {
        width: 96%;
    }
}

@media (max-width: 768px) {
    #wrap {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #aside {
        width: 100%;
        height: 300px;
    }

    #section {
        width: 100%;
        height: 480px;
    }
}

.header_wrap {
    width: 100%;
    height: 180px;
}

.header_inner {
    width: 100%;
    
}

.header_top {
    width: 100%;
    height: 2.5rem;
    background-image: url(../images/top.png);
    
}

.header_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.75rem;
    margin-right: 5rem;
    box-sizing: border-box;
}

.header_content {
    height: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
}

.header_content li {
    position: relative;
    display: inline-block;
    margin : 0 5px 0 0;
}
.header_content li.e1::before {
    content: '';
    position: absolute;
    left: -4px;
    top:4px;
    width: 19px;
    height: 22px;
    background: url(../images/an.png) center center no-repeat;
}

.header_content li.e2::before {
    content: '';
    position: absolute;
    left: -7px;
    top:8px;
    width: 22px;
    height: 20px;
    background: url(../images/book.png) center center no-repeat;
}

.header_content li.e3::before {
    content: '';
    position: absolute;
    left: -3px;
    top:9px;
    width: 19px;
    height: 19px;
    background: url(../images/psa1.png) center center no-repeat;
}

.header_content li.e4::before {
    content: '';
    position: absolute;
    left: -3px;
    top:11px;
    width: 17px;
    height: 17px;
    background: url(../images/cs.png) center center no-repeat;
}

.header_content li.e5::before {
    content: '';
    position: absolute;
    left: -3px;
    top:7px;
    width: 22px;
    height: 22px;
    background: url(../images/event.png) center center no-repeat;
}
.header_content li a {
    color: #595757;
    font-weight: 700;
    padding: 5px 10px 5px 20px;
    box-sizing: border-box;
}

.header_content li a:hover {
    color: #999;
}


.header_member li {
    display: inline-block;
}

.header_member li a {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 20px 5px 20px; 
    
}

.header_member li a:hover {
    border: 1px solid #999;
    border-radius: 10px;
    color: #999;
    padding: 5px 20px 5px 20px; 
    
}

.header_logo a img {
    width: 200px;
    height: 45px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gnb li {
    display: inline-block;
    margin: 0 15px 0 15px; 
}

.gnb li a {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    color: #595757;
}

.gnb li a:hover {
    color: #f39800;
}

.slider_img {
    background-image: url("../images/slide04.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 380px;
}

.article_wrap {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 20px;
}

.article_wrap h1 {
color: #1d2088;
font-size: 1.875rem;
margin-bottom: 15px;
}

.article_wrap em {
    display: block;
    color: #000;
}

.article_wrap li {
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px; 
}

.article_wrap li a {
    font-size: 17px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

.article_wrap li.ord1::before {
    content: '';
    position: absolute;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50px;
    padding: 15px;
    left: 10px;
    top: -75px;
    width: 34px;
    height: 38px;
    background: url(../images/bks.png) center center no-repeat;
}

.notice_wrap {
    display: flex;
    align-items: center;
    justify-content:space-between;
}






